body {
    
}

.power-button1{
    width:130px;
    height:40px;
    border:0.5px solid;
    outline:none;
    background-color:black;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
    transition:0.3s;
}

.power-button1:active{
    width:110px;
    height:30px;
    border:0.5px solid;
    outline:none;
    background-color:black;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
}

.power-button2{
    width:130px;
    height:40px;
    border:0.5px solid;
    outline:none;
    background:linear-gradient(to right,#000,60%,#fff);
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
    transition:0.3s;
}

.power-button2:active{
    width:110px;
    height:30px;
    border:0.5px solid;
    outline:none;
    background-color:black;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;

}


.power-button3{
    width:130px;
    height:40px;
    border:0.5px solid;
    outline:none;
    background:#e54;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
    transition:0.3s;
}

.power-button3:active{
    width:110px;
    height:30px;
    border:0.5px solid;
    outline:none;
    background-color:#e34;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
    
}
.power-button4{
    width:130px;
    height:40px;
    border:0.5px solid;
    outline:none;
    background:#a1a1;
    color:black;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
    
    transition:0.3s;
}

.power-button4:active{
    width:110px;
    height:30px;
    border:0.5px solid;
    outline:none;
    background-color:#a3a3;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
}


.power-button5{
    width:130px;
    height:40px;
    border:0.5px solid;
    outline:none;
    background:#a34;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
    transition:0.3s;
}

.power-button5:active{
    width:110px;
    height:30px;
    border:0.5px solid;
    outline:none;
    background-color:#a34;
    color:white;
    font-size:18px;
    border-radius:3px;
    position:absolute ;
}
.icon-youtube{
    background-color:red;
    width:90px;
    height:60px;
    border:1px solid;
    border-radius:10px;
}

.icon-youtube:after{
    content:'';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid white;
    border-bottom: 15px solid transparent;
    position:absolute ;
    left:41px;
    top:22px;
    outline:10px black;
}
.power-slider2{
     -webkit-appearance:none;
     width:170px;
     height:35px;
     background-color:mediumseagreen;
     border-radius:5px;
     border:2px solid black;
     outline:none;
}

.power-slider2::-webkit-slider-thumb{
     -webkit-appearance:none;
     width:20px;
     height:35px;
     background-color:lime;
     box-shadow:lime
         60px
         40px
         50px
     ;
     border-radius:5px;
}
